<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="body_container">
        <div>
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/website_logo.png') }}" alt="Example Image" class="logo">
            </a>
            <a class="links_container" href="{{ url_for('index') }}">Home</a>
            <a class="links_container" href="{{ url_for('projects') }}">Projects</a>
            <a class="links_container" href="{{ url_for('about') }}">About</a>
            <a class="links_container" href="{{ url_for('github') }}">Github ↗</a>
        </div>

        <div class="content_container">
            {% block content %}
            <!-- Optional dynamic nav from 'options' dictionary -->
            {% for label, endpoint in options.items() %}
                <li><a href="{{ url_for(endpoint) }}">{{ label }}</a></li>
            {% endfor %}
            {% endblock %}

            {% block scripts %}{% endblock %}
        </div>
    </div>
</body>
</html>
